<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}"/> 
    <style>
        .container{
            margin:auto;
            width: 50%;
            padding: 30px;
            background: #e2e2e2;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1 class="text-2 font-bold">Welcome to home page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi aperiam odit 
            magni nemo quidem exercitationem optio sunt ullam consequuntur suscipit, 
            delectus ex eaque sequi obcaecati enim! Autem architecto aliquid est?Lorem ipsum 
            dolor sit amet consectetur adipisicing elit. Vero eum vitae ipsam modi dicta similique 
            perferendis ea. Illo numquam pariatur tempora, ab consectetur, 
            iste veritatis amet accusantium ut hic corporis.</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
</body>
</html>l